* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/*body specs here*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    color: #EBD8B7;
}

/* Header main settings */
header {
    width: 100%;
    background-color: #000000;  
    
}

/* Styling for header in contact-thanks.html, a page that tells the visitor thank you when they submit their message */
#header-thanks {
    display: flex;
    justify-content: center;
}

#header-thanks img {
    padding: 50px;
    width: 80%;
    max-height: 60%;
    opacity: 75%;
}

/*styling for header image*/
#header-img {
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: #181818;
}

/* Styling for all h1, h2, h3 elements on website */
h1,
h2,
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px;
}

/* Horizontal line styling */
hr {
    display: none;
}

/* Navigation bar styling */
nav {
    background-color: #000000;
    width: 100%;
}

#navbar {
    display:list-item;
    list-style-type:none;
    align-content: center;
    text-align: center;
}

#navbar li {
    width: 100%;
    font-size: 130%;
    letter-spacing: 2px;
    padding: 8px;
    border-radius: 10%;
}

#navbar a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #EBD8B7;  
}

/* Effect styling for when hovering over links in navigation bar */
/* Code for marker-effect on hover, titles and contactform found here: https: //dev.to/shubhamjain/how-to-create-marker-highlight-effect-in-css-be4 */
#navbar a:hover {
    width: 100%;
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=800000);
    margin: -2px -6px;
    padding: 6px 15px; 
}

/* Styling for .title - every h1 element at the top of every page */
.title {
    padding: 25px 10px 15px;
    background-image: linear-gradient(#000000, #181818);
}

/* Background-effect for every titel on the website. Credit to creator Shubham Jain  https://dev.to/shubhamjain/how-to-create-marker-highlight-effect-in-css-be4 */
.highlight-titles {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=800000); /* Marker effect */
    margin: -2px -6px;
    padding: 6px 15px;}

/* Styling for the paragraph at index.html */
#aboutgame {
    text-align: center;
    padding: 15px 50px 50px;
    font-size: 125%;
}

/* Styling for thegang.html  */
.thegang-left {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 40px;
    font-size: 20px;
}

.thegang-right {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 40px;
    font-size: 20px;
}

q {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.5px;
}

.thegang-left img, .thegang-right img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.thegang-left p, .thegang-right p {
    padding-top: 10px;
}

/* Styling for gamemap */ 
#gamemap {
    padding: 25px 0 25px;
    text-align: center;
}

#gamemap iframe {
    height: 500px;
    width: 85%;
    border: 0;
}

/* Styling for game trailer on index.html */
.gametrailer {
    padding: 25px 0 25px;
    text-align: center;  
}

.gametrailer iframe {
    width: 85%;
    height: 550px;
    border: 0;

}
/* Screenshots gallery styling */
div.screenshots:hover {
    opacity: 50%; 
}

div.screenshots img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 1px;
    float: left;
    width: 100%
}

/* Contact form styling. Html and css inspired from https://www.w3schools.com/ */
input[type=text],
input[type=email],
select,
textarea {
    background-color: #EBD8B7;
    width: 100%;
    padding: 12px;
    border: 1px solid #800000;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #800000;
    color: #EBD8B7;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Code for marker-effect on hover, titles and contactform found here: https: //dev.to/shubhamjain/how-to-create-marker-highlight-effect-in-css-be4 */
form label {
    font-size: 20px;
    width: 100%;
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=800000);/* marker effect */
    margin: -2px -6px;
    padding: 6px 15px;
}

input[type=submit]:hover {
    background-color: #cc0000;
}


.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-self: center;
    border-radius: 20px;
    background-color: #181818;
    padding: 20px;
    margin-bottom: 25px;
}

#subject {
    height: 150px;
}

/* Footer styling */
.back-to-top a{
    font-size: 75%;
    text-decoration: none;
    color: #EBD8B7;
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=800000);
    margin: -2px -6px;
    padding: 6px 15px;
}

.back-to-top {
    padding-bottom: 25px;
}

footer {
    margin-top: auto;
}

#footer-socials {
    background-image: linear-gradient( #181818, #cc0000);
    text-align: center;
    padding: 10px 0 35px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#footer-socials i {
    font-size: 200%;
    padding: 5%;
    color: #EBD8B7;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    #navbar {
        display: flex;
    }

    .title {
        padding: 45px 0 15px
    }
    #aboutgame {
        padding: 15px 150px 25px;
    }
    .thegang-left img, .thegang-right img {
        height: 200px;
        width: 200px;
    }
    .thegang-left article, .thegang-right article{
        padding-left: 40px;
        padding-right: 40px;
    }
    .container { 
        width: 50%;
        height: 100%;
    }
    .responsive {
        width: 50% 
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #aboutgame {
        padding: 15px 200px 25px;
    }
    .thegang-left img,
    .thegang-right img {
        height: 250px;
        width: 250px;
    }
    .container {
        width: 40%;
        height: 100%;
    }
}

/* Large devices (Laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #aboutgame {
        padding: 15px 300px 25px;
    }

    .gametrailer iframe {
        height: 650px;
    }

    .thegang-left {
        display: flex;
        float: left;
        width: 50%;
        padding-left: 15px;
        padding-right: 25px;
    }
    
    .thegang-right {
        display: flex;
        justify-content: right;
        width: 50%;
        text-align: left;
        padding-right: 15px;
        padding-left: 25px;
        padding-bottom: 150px
    }
    
    .thegang-left img{
        border-radius: 50%;
        margin-left: 15px;
        padding-right: 15px;
    }
    
    .thegang-right img{
        position: absolute;
        right: 0;
        margin-top: 40px;
        margin-right: 15px;
        border-radius: 50%;
    }
    .thegang-right img alt{
        padding-top: 50px;
    }
    .thegang-right article {
        text-align: right;
        padding: 40px 260px 40px 0
    }

    .thegang-left article {
        position: absolute;
        padding-left: 260px;
        width: 50%;

    }

    .thegang-left  {
        padding: 55px 0px 40px 0;
        padding-left: 10px;
        text-align: left;   
    }
    .thegang-left h2 {
        text-align: left;
    }
    .thegang-right h2 {
        text-align: right;
    }

    #thegang-left-last {
        margin-bottom: 150px;
    }
    
    #gamemap iframe {
        height: 600px;
    }
    .responsive {
        width: 33.33%;
    }
}


/* Large devices (Laptops and desktops, 1200px and up */
@media screen and (min-width: 1200px) {
    #aboutgame {
        padding: 15px 350px 25px;
    }
    .gametrailer iframe {
        height: 750px;
    }
    #gamemap iframe {
        height: 800px;
    }
    .thegang-right {
        padding-left: 50px;
    }
    .thegang-left {
        padding-right: 50px;}

    .thegang-right article {
        margin-top: 45px;
    }
    
    .thegang-left article {
        margin-top: 45px;
    }
}